* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #191919;
    color: #f2f2f2;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}